<!DOCTYPE html>
<html lang="en">
{%load static %}
<link rel="stylesheet" type="text/css" href="{%static 'Tempgauge/style.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">

<head>

<div id="header">
<h1 id="toptext">North Clackamas School District</h1>
<img src="{%static 'Tempgauge/nclogo.png' %}" alt="Logo" id="main_logo" style="height:150px;width:auto;display:grid;" class="">
</div>

<h4>North Clackamas Server Temperature Monitoring</h4>
<h6>Please Select your school to view data for</h6>
</head>

<body>

<form action="{% url 'gotodetail' %}" method="POST" id="schoolchoices">
    {% csrf_token %}
    {{form}}
    <input form="schoolchoices" type="submit" value="Submit" id="choice" class="btn btn-primary"/>
</form>

{% if user.is_authenticated %}
<p>Logged in: {{user.username}}</p>
{%endif%}
<a href="{% url 'my_logout' %}" method="POST" id="logout">Logout</a>

</body>
</html>