<!DOCTYPE html>
<html lang="en">
{%load static %}
<link rel="stylesheet" type="text/css" href="{%static 'Tempgauge/style.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">

<head>
<div id="header">
<h1 style="font-family: open-sans">Sabin</h1>
<img src="{%static 'Tempgauge/nclogo.png' %}" alt="Logo" id="main_logo">
</div>
</head>

<body>
<div id="forms">
	
	<form action= "{%url 'getdata' %}" id="filter" method="POST">
		{% csrf_token %}
		<input name="filteroptions" class="form-control form-control-sm col-sm-2" type="date" id="datefilter">
		<input form="filter" type="submit" value="Filter Data" class="btn btn-primary">
	</form>
	

	<form action= "{%url 'download_data' %}" id="download" method="POST" style="margin-top: 20px;">
		{% csrf_token %}
		<input name="downloadoptions" class="form-control form-control-sm col-sm-2" type="date" id="datefilter">
		<input form="download" type="submit" value="Download Data" class="btn btn-primary">
	</form>
	
</div>
<table class="table table-bordered" style="width:100%; margin-top: 20px;">
{%for TempReading in context %}
	<thead>
		<tr>
			<th>Date</th>
			<th>Temperature(Farenheight)</th>
			<th>Humidity(RH)</th>
			<th>School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th class="tg">{{TempReading.date}}</th>
			<th class="tg">{{TempReading.temp}}</th>
			<th class="tg">{{TempReading.humidity}}</th>
			<th class="tg">{{TempReading.school}}</th>
		</tr>
	</tbody>
{%endfor%}
</table>

{% if user.is_authenticated %}
<p>Logged in: {{user.username}}</p>
{%endif%}
<a href="{% url 'my_logout' %}" method="POST" id="logout">Logout</a>

</body>
{% block javascript %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1 //january is 0
var yyyy = today.getFullYear();
if(dd < 10){
	dd='0'+dd
}
if(mm < 10){
	mm='0'+mm
}
today = yyyy+'-'+mm+'-'+dd;
document.getElementById("datefilter").setAttribute("max", today);
</script>

<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>

{% endblock %}
</html>